MONGODB_URL=
MONGODB_LOG_LEVEL=debug
JWT_SECRET=mysecretkeyhere
JWT_LOGIN_EXPIRATION_TIME=4h
JWT_LOGIN_NOT_BEFORE_EXPIRATION_TIME=120
JWT_EMAIL_EXPIRATION_TIME=1h
JWT_LOGIN_AUDIENCE='unique-client-id-hash : Identifies the recipients that the JWT is intended for.'
JWT_LOGIN_SUBJECT='subject'
HOST=http://localhost
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25
EMAIL_USER=
EMAIL_PASS=
EMAIL_APP=info@template_api.com
API_PORT=3000
SALT_ROUNDS=10
PASSWORD_LENGTH=6
APP_NAME=Template API
APP_NAME_DEV=Template_API
BUNYAN_DEBUG_LEVEL=debug
BUNYAN_PERIOD=1d
BUNYAN_BACK_COPIES=5
CORS_WHITELIST=http://example1.com,http://example2.com,http://example3.com
REST_Limit_Page=10