MONGODB_URL=
MONGODB_LOG_LEVEL=debug
JWT_SECRET=mysecretkeyhere
HOST=http://localhost
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25
EMAIL_USER=
EMAIL_PASS=
EMAIL_APP=info@template_api.com
API_PORT=3000
SALT_ROUNDS=10
EMAIL_EXPIRATION_TIME=1h
LOGIN_EXPIRATION_TIME=4h
PASSWORD_LENGTH=6
APP_NAME=Template API
APP_NAME_DEV=Template_API
BUNYAN_DEBUG_LEVEL=debug
BUNYAN_PERIOD=1d
BUNYAN_BACK_COPIES=5